/*******************************************************************************
*                                                                              *
* general                                                                       *
*                                                                              *
*******************************************************************************/

.root {
    -color-primary: #546e7a;
    -color-primary-variant: #29434e;
    -color-on-primary: #ffffff;

    -color-secondary: #ff8a80;
    -color-secondary-variant: #c85a54;
    -color-on-secondary: #000000;

    -color-background: #ffffff;
    -color-on-background: #000000;

    -color-surface: #ffffff;
    -color-on-surface: #000000;

    -fx-pref-width: 1280px;
    -fx-pref-height: 720px;
    -fx-background-color: -color-background;
    -fx-font-family: "Roboto Sans";

    -opacity-high: 0.87;
    -opacity-medium: 0.60;
    -opacity-low: 0.38;
}

.jfx-decorator {
    -fx-decorator-color: -color-primary-variant;
}

.jfx-decorator .jfx-decorator-buttons-container {
    -fx-background-color: -fx-decorator-color;
}

.jfx-decorator .jfx-decorator-buttons-container .glyph-icon {
    -fx-fill: -color-on-primary;
}

.jfx-decorator-title {
    -fx-font-size: 16pt;
    -fx-font-family: "Roboto Medium";
    -fx-font-weight: 500;
}

.jfx-decorator .resize-border {
    -fx-border-color: -fx-decorator-color;
    -fx-border-width: 0pt 2px 2px 2px;
}

:disabled {
    -fx-opacity: -opacity-low;
}


/*******************************************************************************
*                                                                              *
* text                                                                         *
*                                                                              *
*******************************************************************************/

.label {
    -fx-text-fill: -color-on-background;
    -fx-opacity: -opacity-high;
}

.label.subhead {
    -fx-opacity: -opacity-medium;
}

/*******************************************************************************
*                                                                              *
* button                                                                       *
*                                                                              *
*******************************************************************************/

.button:hover, .jfx-toggle-node:hover {
    -fx-cursor: HAND;
}

.button:hover > .text {
    -fx-opacity: -opacity-medium;
}

.button:hover > .glyph-icon {
    -fx-opacity: -opacity-medium;
}

.button-contained, .button-contained-icon, button-outlined, .button-text {
    -fx-min-width: 64px;
    -fx-min-height: 36px;
    -fx-padding: 0px 16px 0px 16px;
    -fx-alignment: CENTER;
    -fx-font-family: "Roboto Medium";
    -fx-font-weight: 500;
    -fx-font-size: 14pt;
}

.button-contained {
    -fx-background-color: -secondary-color;
    -fx-text-fill: -color-on-secondary;
}

.button-contained-icon {
    -fx-background-color: -color-secondary;
    -fx-text-fill: -color-on-secondary;
    -fx-padding: 0px 12px 0px 8px;
    -fx-graphic-text-gap: 8px;
}

.button-icon {
    -fx-padding: 0px;
}

.button-outlined {
    -fx-text-fill: -color-secondary;
    -fx-border-color: -color-secondary;
    -fx-border-radius: 2px;
    -fx-border-width: 1px;
}

.button-text {
    -fx-padding: 0px 8px 0px 8px;
    -fx-text-fill: -color-secondary;
}

.button-contained, .button-contained-icon {
   -jfx-button-type: RAISED;
}

.button-contained, .button-contained-icon .jfx-rippler {
   -jfx-rippler-fill: -color-on-secondary;
}

.button-icon, .jfx-toggle-node .jfx-rippler {
   -jfx-rippler-fill: -color-secondary;
}

.button-contained, .button-contained-icon .glyph-icon {
   -fx-fill: -color-on-secondary;
}

.jfx-toggle-node {
    -jfx-toggle-color: -color-secondary;
}

/*******************************************************************************
*                                                                              *
* settings                                                                     *
*                                                                              *
*******************************************************************************/

.settings-menu {
    -fx-pref-width: 256px;
    -fx-padding: 16px;
    -fx-spacing: 8px;
    -fx-background-color: -color-surface;
}

/*******************************************************************************
*                                                                              *
* side menu                                                                    *
*                                                                              *
*******************************************************************************/

.side-menu {
    -fx-pref-width: 256px;
    -fx-background-color: -color-primary;
    -fx-padding: 4px 0px 0px 0px;
}

.side-menu .button-contained-icon {
    -fx-pref-width: 256px;
    -fx-min-height: 48px;
    -fx-max-height: 48px;
    -fx-padding: 0px 16px 0px 16px;
    -fx-background-insets: 4px 8px 4px 8px;
    -fx-background-color: transparent;
    -fx-text-fill: -color-on-primary;
    -jfx-button-type: FLAT;
}

.side-menu .button-contained-icon .jfx-rippler {
    -jfx-rippler-fill: -color-on-primary;
}

.jfx-text-field {
    -jfx-un-focus-color: -color-on-background;
    -jfx-focus-color: -color-secondary;
}

.side-menu .button-contained-icon .glyph-icon {
    -glyph-size: 24px;
    -fx-fill: -color-on-primary;
}

/*******************************************************************************
*                                                                              *
* presentation                                                                 *
*                                                                              *
*******************************************************************************/

.presentation {
    -fx-background-color: -color-background;
}

.presentation .label-player {
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 56;
    -fx-text-fill: white;
}

.presentation .label-player:buzzered {
    -fx-text-fill: -color-secondary-variant;
}

.presentation .label-player.label .text {
    -fx-stroke: -color-primary-variant;
    -fx-stroke-width: 1;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.26) , 5, 0.06, -1, 2 );
}

.presentation .jfx-progress-bar > .bar {
    -fx-background-color: -color-secondary-variant;
}

/*******************************************************************************
*                                                                              *
* game master                                                                  *
*                                                                              *
*******************************************************************************/

.game-master {
    -fx-background-color: -color-background;
}
